@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');

.navbar {
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  position: sticky;
  top: 0;
} 

.nav-links {
  display: flex;
  list-style: none;
  gap: 24px;
  align-items: center;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  color: #e63946;
}

.title {
  color: #e63946; 
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  cursor: default;
}

.header-text {
  text-align: center;
}

.main-title {
  font-family: 'Caveat';
  font-size: 64px;
  margin-bottom: 6px
}

.address {
  font-family: 'Georgia';
}